<template>
    <v-layout row justify-center>
        <v-dialog v-model="value" fullscreen transition="dialog-bottom-transition">
            <v-stepper v-model="stepProgress">
                <v-stepper-header>
                    <v-stepper-step step="1" :complete="stepProgress > 1">Backup data</v-stepper-step>
                    <v-divider></v-divider>
                    <template v-for="(Application, index) in params">
                        <v-stepper-step :step="index + 2" :complete="stepProgress > index + 2" :key="Application.applicationName">{{ Application.applicationName }}</v-stepper-step>
                        <v-divider></v-divider>
                    </template>
                    <v-stepper-step :step="params.length + 2">Complete</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1" v-model="stepProgress">
                        <v-flex md12>
                            <v-card class="stepper_container mb-5" raised>
                                <v-card-title primary-title>
                                    <div class="display-1">
                                        Creating backups
                                        <v-divider class="mt-2"></v-divider>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 v-for="(configuration, index) in configurations" :key="configuration.id" v-if="!configuration.IsComplete">
                                                <v-text-field :loading="!configuration.IsComplete" :solo="configuration.IsComplete" style="color: #fff !important;" :label="'Backing up ' + configuration.database + ' (' + configuration.server + ')'" :prepend-icon="'storage'" :disabled="true"></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                            </v-card>
                            <v-layout row wrap justify-end>
                                <v-btn class="error" v-on:click="">Cancel operation</v-btn>
                            </v-layout>
                        </v-flex>
                    </v-stepper-content>
                    <v-stepper-content v-for="(application, index) in params" :step="index + 2" v-model="stepProgress" :key="application.applicationName">
                        <v-flex md12>
                            <v-card class="stepper_container mb-5" raised>
                                <v-card-title primary-title>
                                    <div class="display-1">
                                        Running transformations on {{ application.applicationName }}
                                        <v-divider class="mt-2"></v-divider>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap justify-center>
                                            <template v-if="taskProgress != []">
                                                {{ taskProgress.completedItems }} out of {{ taskProgress.totalItems }}
                                                <v-progress-linear height="20" :value="progressPercentage"></v-progress-linear>
                                                {{ progressPercentage }}%
                                            </template>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                            </v-card>
                            <v-layout row wrap justify-end>
                                <v-btn class="error" v-on:click="">Cancel operation</v-btn>
                            </v-layout>
                        </v-flex>
                    </v-stepper-content>
                    <v-stepper-content :step="params.length + 2" v-model="stepProgress">
                        <v-flex md12>
                            <v-card class="stepper_container mb-5" raised>
                                <v-card-title primary-title>
                                    <div class="display-1">
                                        Operation complete
                                        <v-divider class="mt-2"></v-divider>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap justify-center>
                                            <center>
                                                <v-flex md12 class="headline">The operation completed successfully.</v-flex>
                                                <v-flex md12>
                                                    <v-btn class="primary mt-4" large v-on:click="close()">Proceed</v-btn>
                                                </v-flex>
                                            </center>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                            </v-card>
                            <v-layout row wrap justify-end>
                                
                            </v-layout>
                        </v-flex>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-dialog>
    </v-layout>
</template>

<script src="./executer.ts"></script>

<style>
    .table-container {
        padding: 0px;
    }

    .blurOut {
        opacity: 0.4;
    }

    .changedValue {
        color: orange;
        font-weight: bold !important;
    }

    .deletedValue {
        color: red;
        font-weight: bold !important;
        opacity: 0.7;
    }

    .drm-eula {
        font-size: 18px;
        font-weight: 300;
    }

    .kbd {
        background: #131218 !important;
    }

    .display-2 {
        font-weight: bold;
        background-color: #212232 !important;
    }

</style>
