<template>
    <v-layout row wrap>
        <v-flex lg12>
            <v-card class="appcard" raised hover xl12>
                <v-card-title primary-title>
                    <div class="display-1">
                        Task orchestrator
                        <v-divider class="mt-2"></v-divider>
                    </div>
                    The following non-compliant records have been identified. Inspect these changes carefully before proceeding.
                </v-card-title>
                <v-card-text>
                    <div>
                        <v-tabs dark slider-color="yellow" tabs v-if="EvaluationResults.length > 0">
                            <v-tab v-for="evaluation in EvaluationResults"
                                   :key="evaluation.applicationName" ripple show-arrows>
                                {{ evaluation.applicationName }} ({{ evaluation.totalRecords }})
                            </v-tab>
                            <v-tab-item v-for="evaluation in EvaluationResults"
                                        :key="evaluation.applicationName">
                                <v-card flat>
                                    <v-card-text class="table-container">
                                        <v-card>
                                            <template v-for="set in evaluation.nonCompliantRecordSets">
                                                <v-subheader class="mt-4" style="background-color:rgba(19, 18, 24, 0.5294117647058824)">
                                                    <div class="subheading">
                                                        {{ set.task.name }} ({{ set.records.length }} records)
                                                    </div>
                                                    <v-divider></v-divider>
                                                    {{ set.task.type }}
                                                </v-subheader>

                                                <!-- NULL -->
                                                <v-data-table :headers="generateHeaders(set.records)" :items="set.records" item-key="name" v-if="set.task.type == 'NULL'">
                                                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                                                    <template slot="items" slot-scope="props">
                                                        <td v-for="column in generateColumns(set.records)" :class="{ 'blurOut' : (column != set.task.columnName), 'changedValue' : (column == set.task.columnName)}">{{ column == set.task.columnName ? "NULL" : formatCellValue(props.item[column]) }}</td>
                                                    </template>
                                                </v-data-table>

                                                <!-- REMOVE -->
                                                <v-data-table :headers="generateHeaders(set.records)" :items="set.records" item-key="name" v-if="set.task.type == 'REMOVE'">
                                                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                                                    <template slot="items" slot-scope="props">
                                                        <td v-for="column in generateColumns(set.records)" class="deletedValue">
                                                            <strike>{{ formatCellValue(props.item[column]) }}</strike>
                                                        </td>
                                                    </template>
                                                </v-data-table>

                                                <!-- SHA256 -->
                                                <v-data-table :headers="generateHeaders(set.records)" :items="set.records" item-key="name" v-if="set.task.type == 'SHA256'">
                                                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                                                    <template slot="items" slot-scope="props">
                                                        <td v-for="column in generateColumns(set.records)" :class="{ 'blurOut' : (column != set.task.columnName), 'changedValue' : (column == set.task.columnName)}">{{ column == set.task.columnName ? SHA256(props.item[column]) : formatCellValue(props.item[column]) }}</td>
                                                    </template>
                                                </v-data-table>

                                                <!-- MD5 -->
                                                <v-data-table :headers="generateHeaders(set.records)" :items="set.records" item-key="name" v-if="set.task.type == 'MD5'">
                                                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                                                    <template slot="items" slot-scope="props">
                                                        <td v-for="column in generateColumns(set.records)" :class="{ 'blurOut' : (column != set.task.columnName), 'changedValue' : (column == set.task.columnName)}">{{ column == set.task.columnName ? MD5(props.item[column]) : formatCellValue(props.item[column]) }}</td>
                                                    </template>
                                                </v-data-table>
                                            </template>
                                        </v-card>
                                    </v-card-text>
                                    <v-spacer></v-spacer>
                                </v-card>
                                <v-btn class="mt-5" color="error" large block v-on:click="ExecutionDialog = true">All of the above changes are okay, proceed</v-btn>
                            </v-tab-item>
                        </v-tabs>
                    </div>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-flex>

        <v-dialog v-model="ExecutionDialog" max-width="500px" style="background-color: #323544 !important;">
            <v-card>
                <v-container grid-list-md>
                    <div class="display-2 pa-2 red--text" color="red">Are you sure?</div>
                    <v-divider class="mb-2"></v-divider>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-card raised class="drm-eula">
                                <v-card-text class="kbd">
                                    All the changes shown to you will be executed by you and are irreversible. Are you sure you want to proceed?
                                </v-card-text>
                            </v-card>
                            <v-flex>
                                <v-checkbox class="mt-2" label="I accept these changes" v-model="userHasAgreed"></v-checkbox>
                            </v-flex>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="success" @click.native="ExecutionDialog = false, userHasAgreed = false">Cancel</v-btn>
                    <v-btn class="error" :disabled="!userHasAgreed" raised @click.native="executeActions()">Confirm</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <executer-component :configurations="ConfigurationsParams" :params="TaskExecuterParams" v-model="ShowTaskExecuter"/>
    </v-layout>
</template>

<script src="./orchestration.ts"></script>

<style>
    .table-container {
        padding: 0px;
    }

    .blurOut {
        opacity: 0.4;
    }

    .changedValue {
        color: orange;
        font-weight: bold !important;
    }

    .deletedValue {
        color: red;
        font-weight: bold !important;
        opacity: 0.7;
    }

    .drm-eula {
        font-size: 18px;
        font-weight: 300;
    }

    .kbd {
        background: #131218 !important;
    }

    .display-2 {
        font-weight: bold;
        background-color: #212232 !important;
    }

</style>
