<template>
    <v-layout row justify-center>
        <v-dialog persistent max-width="500px" v-model="value">
            <v-card>
                <v-card-title>
                    <span class="headline">Create a new application</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field label="The name of the application" v-model="Name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field multi-line label="Briefly describe the purpose of the application" v-model="Description" required></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>

                    <template>
                        <v-alert outline transition="slide-y-transition" type="error" dismissible v-model="showError">
                            Error: {{ errorMessage }}
                        </v-alert>
                    </template>
                </v-card-text>
                <v-card-actions v-show="!IsCreating">
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat v-on:click="createApplication()" ripple>Create</v-btn>
                    <v-btn color="blue darken-1" flat v-on:click="hideCreateApplicationDialog()">Close</v-btn>
                </v-card-actions>
                <v-fade-transition>
                    <v-progress-linear :indeterminate="true" v-show="IsCreating"></v-progress-linear>
                </v-fade-transition>
            </v-card>
        </v-dialog>

        <v-snackbar :timeout="4000"
                    :top="true"
                    :color="notificationColor"
                    v-model="notification">
            {{ notificationText }}
            <v-btn flat @click.native="notification = false">Close</v-btn>
        </v-snackbar>

    </v-layout>
</template>

<script src="./newApplication.ts"></script>


<style>
    .navigation-drawer {
        background-color: #212232 !important;
    }

    .toolbar {
        background-color: #141525 !important;
    }

    .card {
        background-color: #212232 !important;
    }

</style>
