<template>
    <v-app class="approot" :dark="darkTheme">
        <menu-component v-on:switch="darkTheme = !darkTheme"/>
        <v-content>
            <v-container fluid grid-list-lg>
                <v-layout row wrap>
                    <v-slide-y-transition mode="out-in">
                        <router-view></router-view>
                    </v-slide-y-transition>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>
<script src="./app.ts"></script>

<style>
    .theme--dark {
        background-color: #131218 !important;
    }
</style>